@model NewBookVM
@using Projekt_Biblioteka.Data.ViewModels;

@{
    ViewData["Title"] = "Usuń Książke";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4 class="text-center">Usuń @Model.Title</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" readonly />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ISBN" class="control-label"></label>
                                <input asp-for="ISBN" class="form-control" readonly />
                                <span asp-validation-for="ISBN" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RelaseDate" class="control-label"></label>
                                <input asp-for="RelaseDate" type="date" class="form-control" readonly />
                                <span asp-validation-for="RelaseDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageURL" class="control-label"></label>
                                <input asp-for="ImageURL" class="form-control" readonly />
                                <span asp-validation-for="ImageURL" class="text-danger"></span>
                            </div>
                            <div class="form-check">
                                <input asp-for="IsBorrowed" class="form-check-input" type="checkbox" readonly />
                                <label asp-for="IsBorrowed" class="form-check-label"></label>
                                <span asp-validation-for="IsBorrowed" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AuthorId" class="control-label"></label>
                                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Authors" readonly></select>
                                <span asp-validation-for="AuthorId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublisherId" class="control-label"></label>
                                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Publishers" readonly></select>
                                <span asp-validation-for="PublisherId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories" readonly></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" readonly></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>
                    <div class="form-group">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Potwierdź" class="btn btn-danger float-right" />
                        </form>
                        <a class="btn btn-outline-secondary" asp-action="Index">Wróć</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>