<div class="row">
    <div class="col-md-6 offset-3 alert alert-secondary text-center ">
        <h2>Nie masz dostępu do tej strony</h2>
        <p>Kliknij przycisk poniżej, aby przejść do Strony Głównej</p>
        <hr />
        <p>
            <a asp-controller="Book" asp-action="Index" class="btn btn-dark">Strona Główna</a>
        </p>
    </div>
</div>