<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Twoje konto zostało utworzone!</h2>
        <p>Kliknij przycisk poniżej, aby przejść do Strony Głównej</p>
        <hr />
        <p>
            <a asp-controller="Book" asp-action="Index" class="btn btn-dark">Strona Główna</a>
        </p>
    </div>
</div>