<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Książki zostały zamówione</h2>
        <p>Czas realizacji zamówienia wynosi 2 dni robocze </p>
        <hr />
        <p>Dziękujemy!</p>
    </div>
</div>